@page "/Usuarios/Equipaje"
@inherits AddLuggageBase

<h3>Agregar equipaje</h3>
<br />

<button type="button" @onclick="addLuggage">Agregar equipaje</button>

<EditForm Model="@Luggage" OnValidSubmit="sendLuggage">

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <label for="weight" class="col-sm-2 col-form-label">
            Equipaje #1
        </label>
        <div class="col-sm-2">
            <select id="weight" class="form-control" @onchange="changeWeight">
                <option value="1">Hasta 10 kg</option>
                <option value="2">Hasta 23 kg</option>
                <option value="3">Hasta 32 kg</option>
            </select>
        </div>
        <label for="price" class="col-sm-1 col-form-label">
            Precio
        </label>
        <label class="col-sm-1 col-form-label">$@Luggage.Cost</label>
        <label class="col-form-label smallfont">Incluída en el precio del tiquete (hasta 10 kilogramos)</label>
    </div>

    @if (luggage2)
    {
        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="weight" class="col-sm-2 col-form-label">
                Equipaje #2
            </label>
            <div class="col-sm-2">
                <select id="weight" class="form-control" @onchange="changeLuggage2Weight">
                    <option value="1">Hasta 10 kg</option>
                    <option value="2">Hasta 23 kg</option>
                    <option value="3">Hasta 32 kg</option>
                </select>
            </div>
            <label for="price" class="col-sm-1 col-form-label">
                Precio
            </label>
            <label class="col-sm-1 col-form-label">$@Luggage2.Cost</label>
            @if (!luggage3)
            {
                <button type="button" @onclick="hideLuggage2">Eliminar</button>
            }

        </div>
    }

    @if (luggage3)
    {
        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="weight" class="col-sm-2 col-form-label">
                Equipaje #3
            </label>
            <div class="col-sm-2">
                <select id="weight" class="form-control" @onchange="changeLuggage3Weight">
                    <option value="1">Hasta 10 kg</option>
                    <option value="2">Hasta 23 kg</option>
                    <option value="3">Hasta 32 kg</option>
                </select>
            </div>
            <label for="price" class="col-sm-1 col-form-label">
                Precio
            </label>
            <label class="col-sm-1 col-form-label">$@Luggage3.Cost</label>
            <button type="button" @onclick="hideLuggage3">Eliminar</button>
        </div>
    }

    <button type="submit" class="btn btn-primary">Enviar</button>

</EditForm>


@if (max)
{
    modal.Show<Modal>("Límite de equipaje alcanzado");
    max = false;
}
